html {
  overflow-x: hideen;
}
body {
  width:100%;
  height:100%;
  margin:0;
  padding:0;
}
.header {
  padding: 10px 0px 10px 0px;
}
nav {
  text-align: center;
}
.links {
  margin: 0px 22.5px 0px 22.5px;
  font-family: brandon-grotesque, Arial, Helvet;
  text-decoration: none;
  color: rgb(49,49,49);
  font-style: normal;
  letter-spacing: 0.3px;
  font-weight: bold;
  font-size: 10.5px;
}
.logo-container{
  height: 70px;
  width: 70px;
  border-radius: 50%;
  margin: 0px 22.5px 0px 22.5px;
  border: 2px solid black;
  display: inline-block;
  vertical-align: middle;
}
.logo {
  height: 55px;
  width: 55px;
  display: block;
  margin: 7px auto;
}
