.home-container {
  background: url('../assets/yosemite.png') no-repeat center center fixed;
  position: absolute; 
  top: 0; 
  left: 0; 
  right: 0; 
  bottom: 0; 
  margin: auto; 
  min-width: 50%;
  min-height: 50%;
}
.home-display {
  text-align: center;
  font-size: 72px;
  font-weight: 700;
  color: white;
  text-transform: uppercase;
  letter-spacing: .05em;
  padding-top: 100px;
  margin-bottom: 10px;
}
.display-box {
  display: inline-block;
  padding: 0.2em 0.5em;
  border: white solid 10px;
}
.home-description {
  text-align: center;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.5em;
  color: white;
  line-height: 1;
}